<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<booleanAttribute key="org.eclipse.ant.ui.DEFAULT_VM_INSTALL" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SBAONE-STAGING-TEST/build.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jre1.8.0_91"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.ant.internal.launching.remote.InternalAntRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SBAONE-STAGING-TEST"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_TARGETS" value="build,Am_I_Eligibles_Scenario_1_EDWOB_Possitive_Staging,Am_I_Eligible_Csenario2_Staging,Am_I_Eligible_Scenario10_Staging,Am_I_Eligible_Scenario11_Staging,Am_I_Eligible_Scenario3_Staging,Am_I_Eligible_Scenario4_Staging,Am_I_Eligible_Scenario5_Staging,Analyst_search_View_vendors_Record_Staging,Edith_Password2_Staging,Edith_Password_Staging,EDWASB_Prepare_for_Self_Certification_Staging,EDWOSB_Other_Real_State_US649_FM_Staging,Eight_A_Self_Certify_Answer_Question_and_Attached_Documents_US438_Staging,Login_Regression_Test,Regression_Test_Iteration11_A_B_C_and12_Staging,US402_EDWOSB_Self_Certifies_Questionnaire_Staging,US788_Collapse_Navigation_Pane_Corp_EDWOSB (2),US788_Collapse_Navigation_Pane_LLC_WOSB (2),junitreport,"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/SBAONE-STAGING-TEST/build.xml}"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
