<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SBAONE-ACCEPTANCE-TEST/sbaone-acceptance-scripts/all_iterations_scripts/US621WOSB_Self_Certifies_EDWOSB_and_8_a_Completes_the_Cash_on_Hand_and_Income_Section_Negative_Scenario.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="all_iterations_scripts.US621WOSB_Self_Certifies_EDWOSB_and_8_a_Completes_the_Cash_on_Hand_and_Income_Section_Negative_Scenario"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SBAONE-ACCEPTANCE-TEST"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=""/>
</launchConfiguration>
